taobao-open-core/src/test/java/com/dream/messaging/config/fix/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by anders -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<!-- version="1.0" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence maxOccurs="1">
				<xs:element name="request" type="MsgType"
					minOccurs="0" maxOccurs="1"/>
				<xs:element name="response" type="MsgType"
					minOccurs="0" maxOccurs="1"/>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="propertyType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="section" type="SectionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
			</xs:sequence>
			
			<xs:attribute name="transcode" type="xs:string" use="required"/>
			<xs:attribute name="desc" type="xs:string" use="optional"/>
			<xs:attribute name="version" type="xs:string" use="required"/>
			<xs:attribute name="class" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SectionType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="propertyType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="section" type="SectionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="class" type="xs:string" use="optional"/>
		<xs:attribute name="status" use="optional" default="O">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="C"/>
					<xs:enumeration value="O"/>
					<xs:enumeration value="M"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="repeated" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="mapcount" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="max" type="xs:int" use="optional"/>
		<xs:attribute name="precondition" type="xs:string" use="optional"/>
		<xs:attribute name="delimiter" type="xs:string" use="optional"/>
		<xs:attribute name="suffix" type="xs:string" use="optional"/>
		<xs:attribute name="condition" type="xs:string" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="setcondition" type="xs:string" use="optional"/>
		<xs:attribute name="resetcondition" type="xs:string" use="optional" />
		<xs:attribute name="desc" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="propertyType">
		<xs:sequence>
					</xs:sequence>
		<xs:attribute name="format" type="xs:string" use="optional" />
		<xs:attribute name="status" use="optional" default="O">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="C" />
					<xs:enumeration value="O" />
					<xs:enumeration value="M" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="fixed" type="xs:string" use="optional" />
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="validvalue" type="xs:string" use="optional" />
		<xs:attribute name="default" type="xs:string" use="optional" />
		<xs:attribute name="condition" type="xs:string" use="optional" />
		<xs:attribute name="setcondition" type="xs:string"
			use="optional" />
		<xs:attribute name="resetcondition" type="xs:string"
			use="optional" />
		<xs:attribute name="class" type="xs:string" use="optional" />
		<xs:attribute name="reference" type="xs:string" use="optional" />
		<xs:attribute name="desc" type="xs:string" use="optional" />
		<xs:attribute name="length" type="xs:int" use="optional" />
		<xs:attribute name="countvalue" type="xs:string" use="optional" />
		<xs:attribute name="precondition" type="xs:string" use="optional" />
		<xs:attribute name="reqfield" type="xs:string" use="optional" />
	</xs:complexType>
    <xs:complexType name="MsgType">
    	<xs:choice maxOccurs="unbounded">
				<xs:element name="section" type="SectionType"
					minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="property" type="propertyType"
					minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		<xs:attribute name="class" type="xs:string" use="required"/>
		<xs:attribute name="desc" type="xs:string" use="optional"/>
    </xs:complexType>
</xs:schema>
